.float-left
{
  float: left;
  padding-left: 50px;
  border-style: solid;
  border: 1px solid $light-blue-grey-five;
}

.last-run-text {
  font-size: small;
  padding-top: 20px;
}

#padding-top{
  height: 20px;
}

.alloc_modal{
  width: 30%
}
