@import "../elements/_vars";



.div-home-right
{
  font-family: "Open Sans";
  position: relative;
  padding-left: 80%;
  padding-bottom: 30px;
  padding-top: 30px;
}

.div-home-left
{
  background-color:$light-navy;

}

#div-tab
{
  height: 600px;
}

#buffer
{
  height: 350px;
}