/* Color palette */

$white: #fff;
$pale-grey-four: #f9fcfd;
$pale-grey-two: #f5f7f8;
$pale-grey: #edf3f7;
$pale-grey-seven: #e0e9f1;
$pale-grey-eight: #dde7ec;
$white-two: #d2d2d2;
$silver: #d7dce1;
$cool-grey: #b0b7bb;
$warm-grey: #999999;
$warm-grey-two: #888888;
$bluey-grey: #8ba2b4;

$light-sky-blue: #cdeeff;
$light-blue-grey-five: #cce4ed;
$light-blue-grey: #d4e4ed;
$light-blue-grey-two: #c9dde7;
$light-blue-grey-three: #d6e4ed;
$light-blue-grey-eight: #d2e4ed;
$light-blue-grey-nine: #d3e0ec;
$cloudy-blue: #c5d6df;
$greyblue: #83a4bb;
$greyblue-two: #7ea9bf;
$greyblue-three: #76a9bf;

$cerulean: #007fc2;
$cerulean-four: #007dc1;
$cerulean-three: #0081c3;
$nice-blue-two: #1179af;
$nice-blue-three: #156d9a;
$peacock-blue: #00689d;
$light-navy-blue: #296381;
$nice-blue: #16699e;

$marine-blue: #004467;
$light-navy: #114568;

$slate: #3d5463;
$brownish-grey: #666666;
$greyish-brown: #444444;
$greyish-brown-two: #535353;

$black: #111111;
$black-two: #343434;
$black-three: #0e0e0e;
$dark-indigo: #0d2d45;
$dark-indigo-two: #0b2942;
$dark-indigo-three: #0a2136;
$black-four: #000;

$pale-olive: #a5d297;
$apple: #61cb55;
$apple-two: #70c951;
$mid-green: #5eae43;
$dark-sage: #649056;
$pine: #3d5c34;

$pumpkin-orange: #ff7f22;
$faded-red: #dd5455;
$faded-red-two: #dc5455;

$very-light-pink-90: rgba(255, 228, 228, 0.9);
$pinkish-grey: #d5a4a4;
$brownish: #a16363;
$mud-brown: #430d0d;

$primary-color: #efefef;


/* btns color */
$btn-blue: $cerulean-three;


/* fonts */
$font-regular: 'Open Sans', sans-serif;
$font-italic: 'Open Sans Italic', sans-serif;
$font-semibold: 'Open Sans Semibold', sans-serif;
$font-bold: 'Open Sans Bold', sans-serif;
$font-icons: 'icomoon';

//screens
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;